
.container{
    width: 100%;
    margin: 0 auto;
}

.container-login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #352557;
}

.wrap-login{
    background-color: #ffff;
    border-radius: 2.5px;
    overflow: hidden;
    padding: 60px;
}

