.add_projeto {
    position: absolute;
    display: flex;
    width: 68vw;
    height: 65vh;

}

.botao {
    position: fixed;
    cursor: pointer;
    text-align: center;
    top: 100%;
    left: 85%;
    transform: translate(-100%, -100%);
    width: 128px;
    height: 128px;
    border-radius: 100%;
    
}

.desabilitado {
    display: none;
}